/*=== fonts ====*/
$mont:'Montserrat', sans-serif;
$rob: 'Roboto', sans-serif;
$open: 'Open Sans', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700');

/*===== color =====*/
$dk-b:#404040;
$p-color:#747474;
$orang:#ea664f;

// Mixins
@mixin transition($property: all, $duration: 400ms, $animate: linear, $delay:0s){
    transition: $property $duration $animate $delay; 
}

// Placeholder Mixins

@mixin placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

.fullwidth {width: 100%;}